<!-- Header Start Here -->
<header id="Header">
    <div class="main_header">
        <div class="top_nav" id="navbar">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="logo">
                            <a href="index.html" title="Crave Ordering"><img src="~/images/logo.png" alt="Crave Ordering"></a>
                        </div>
                        <div class="nav_manu">
                            <div class="Menu_list">
                                <ul class="menu">
                                    <li><a href="index.html" class="trans hvr-underline-from-left">Home</a></li>
                                    <li><a href="about.html" class="trans">About</a></li>
                                    <li><a href="menu.html" class="trans">Order</a></li>
                                    <li><a href="login.html" class="trans">Login</a></li>
                                    <li><a href="login.html" class="trans">Register</a></li>
                                </ul>
                            </div>
                            <div class="Cart">
                                <a href="cart.html" title="Cart">
                                    <span class="Cart_count">Cart : (0) $00.00</span>
                                    <!-- <i class="fa fa-shopping-cart" aria-hidden="true"></i> -->
                                    <img class="cart_img" src="~/images/cart_1.png" alt="cart_1">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button id="burger" class="open-main-nav">
            <span class="burger"></span>
        </button>
        <div class="H_banner home">
            <div class="main_pitch">
                <h1 class="page_title">Order Online Your Food</h1>
                <h3 class="cntct">Call us<span class="call_desk"><a href="tel:+01234567890" id="typewriter_num"></a></span></h3>
            </div>
        </div>
        <div class="bottom_pitch">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="main_bpitch">
                            <ul>
                                <li class="pizza active"><a href="menu.html" class="trans" title="Pizza"><span class="icon">Pizza</span></a></li>
                                <li class="burger1"><a href="menu.html" class="trans" title="Burgers"><span class="icon">Burgers</span></a></li>
                                <li class="salads"><a href="menu.html" class="trans" title="Salads"><span class="icon">Salads</span></a></li>
                                <li class="fries"><a href="menu.html" class="trans" title="Fries"><span class="icon">Fries</span></a></li>
                                <li class="drinks"><a href="menu.html" class="trans" title="Drinks"><span class="icon">Drinks</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="device">
        <nav class="main-nav" id="main-nav">
            <div class="logo">
                <a href="index.html" title="Crave Ordering"><img src="~/images/logoBlack.png" alt="Crave Ordering"></a>
            </div>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="menu.html">Order</a></li>
                <li><a href="login.html">Login</a></li>
                <li><a href="login.html">Register</a></li>
            </ul>
        </nav>
    </div>
</header>
<!-- Header End Here -->