<!-- Header Start Here -->
<header id="Header">
    <div class="main_header">
        <div class="top_nav" id="navbar">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="logo">
                            <a asp-controller="Home" asp-action="Index" title="Crave Ordering"><img src="~/images/logo.png" alt="Crave Ordering"></a>
                        </div>
                        <div class="nav_manu">
                            <div class="Menu_list">
                                <ul class="menu">
                                    <li><a asp-controller="Home" asp-action="Index" class="trans hvr-underline-from-left">Home</a></li>
                                    <li><a asp-controller="Home" asp-action="About" class="trans">About</a></li>
                                    <li><a asp-controller="Menu" asp-action="Index" class="trans">Order</a></li>
                                    @{
                                        if (!ViewBag.isAut)
                                        {
                                            <li><a asp-controller="Account" asp-action="Login" class="trans">Login</a></li>
                                            <li><a asp-controller="Account" asp-action="Register" class="trans">Register</a></li>
                                        }
                                        else
                                        {
                                            <li><a asp-controller="account" asp-action="logout" class="trans">@ViewBag.Name</a></li>
                                        }
                                    }
                                </ul>
                            </div>
                            <div class="Cart">
                                <a asp-controller="Cart" asp-action="Index" title="Cart">
                                    <span id="Cart_count" class="Cart_count">Cart : () $00.00</span>
                                    <!-- <i class="fa fa-shopping-cart" aria-hidden="true"></i> -->
                                    <img class="cart_img" src="~/images/cart_1.png" alt="cart_1">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button id="burger" class="open-main-nav">
            <span class="burger"></span>
        </button>
        @if (ViewData["Title"].ToString() == "Home Page")
        {
            <div class="H_banner home">
                <div class="main_pitch">
                    <h1 class="page_title">Order Online Your Food</h1>
                    <h3 class="cntct">Call us<span class="call_desk"><a href="tel:+01234567890" id="typewriter_num"></a></span></h3>
                </div>
            </div>
            <div class="bottom_pitch">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="main_bpitch">
                                <ul>
                                    <li class="pizza active"><a asp-controller="Menu" asp-action="Index" class="trans" title="Pizza"><span class="icon">Pizza</span></a></li>
                                    <li class="burger1"><a asp-controller="Menu" asp-action="Index" class="trans" title="Burgers"><span class="icon">Burgers</span></a></li>
                                    <li class="salads"><a asp-controller="Menu" asp-action="Index" class="trans" title="Salads"><span class="icon">Salads</span></a></li>
                                    <li class="fries"><a asp-controller="Menu" asp-action="Index" class="trans" title="Fries"><span class="icon">Fries</span></a></li>
                                    <li class="drinks"><a asp-controller="Menu" asp-action="Index" class="trans" title="Drinks"><span class="icon">Drinks</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        } else {
            <div class="H_banner">
                <div class="main_pitch">
                    <h1 class="page_title">@ViewData["Title"]</h1>
                </div>
            </div>
        }
    </div>
    <div class="device">
        <nav class="main-nav" id="main-nav">
            <div class="logo">
                <a asp-controller="Home" asp-action="Index" title="Crave Ordering"><img src="~/images/logoBlack.png" alt="Crave Ordering"></a>
            </div>
            <ul>
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-controller="Home" asp-action="About">About</a></li>
                <li><a asp-controller="Menu" asp-action="Index">Order</a></li>
                <li><a asp-controller="Account" asp-action="Login">Login</a></li>
                <li><a asp-controller="Account" asp-action="Login">Register</a></li>
            </ul>
        </nav>
    </div>
</header>
<!-- Header End Here -->