@model RegisterViewModel
@{ ViewData["Title"] = "Register"; }

<!-- breadcum section -->

<div class="breadcum">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="main_breadcum">
                    <ul>
                        <li><a asp-controller="Home" asp-action="Index" class="trans" title="Home">Home</a></li>
                        <li>Register</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- breadcum section -->
<!-- Our login section -->
<section id="login">
    <div class="login_section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="main_login">
                        <div class="login_left col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="login_box">
                                <h2 class="title">Create New Account</h2>
                                <h4 class="create_ac">Create your Account</h4>
                                <form asp-controller="Account" asp-action="Register" method="post" asp-route-returnUrl="@ViewBag.returnUrl" id="registrationform">
                                    <div asp-validation-summary="All"></div>
                                    <ul>
                                        <li>
                                            <label asp-for="Email">Email Address</label>
                                            <input asp-for="Email" class="form-control" id="EmailAddress" title="Email Address" type="email">
                                            <span asp-validation-for="Email"></span>
                                        </li>
                                        <li>
                                            <label asp-for="UserName">User Name</label>
                                            <input asp-for="UserName" class="form-control" id="UserName" title="Email Address" type="text">
                                            <span asp-validation-for="UserName"></span>
                                        </li>
                                        <li>
                                            <label asp-for="Password">Password</label>
                                            <input asp-for="Password" class="form-control" title="Password" id="Password" name="password" type="password">
                                            <span asp-validation-for="Password"></span>
                                        </li>
                                        <li>
                                            <label asp-for="PasswordConfirm">Confirm Password</label>
                                            <input asp-for="PasswordConfirm" class="form-control" title="Password" id="Password" name="passwordConfirm" type="password">
                                            <span asp-validation-for="PasswordConfirm"></span>
                                        </li>
                                        <li>
                                            <button type="submit" class="register-btn red_btn trans squre-btn hvr-ripple-out" name="Register">Register</button>
                                        </li>
                                    </ul>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Our login section -->
<!-- Quick Order Section -->
<section>
    <div class="quick_order">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="main_quickorder">
                        <h3 class="title">Call Us for Quick Order</h3>
                        <div class="cntct typewriter-effect"><span class="call_desk"><a href="tel:+01234567890" id="typewriter_num"></a></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Quick Order Section -->