@{
    ViewData["Title"] = "Home Page";
}

<!-- How to work section start here -->
<div class="hwork">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="main_hwork">
                    <ul>
                        <li class="order">
                            <div class="title"><img src="~/images/h_img1.png" alt=""></div>
                        </li>
                        <li class="deliver_L">
                            <div class="title"><img src="~/images/h_img2.png" alt="Delivery location"></div>
                        </li>
                        <li class="deliver_pick">
                            <div class="title"> <img src="~/images/h_img3.png" alt=" Delivery or Pick up "> </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- How to work section start here -->
<!-- popular our food start here -->
<section>
    <div class="popular">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="main_popular">
                        <h2 class="title">Popular Our Food</h2>
                        <p class="desc">
                            Choose from over 30 craveable toppings to make your perfect Food.
                            <br> Don’t love what you ordered? Let us know. We’re all about second chances.
                        </p>
                        <div class="p_card">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <ul>

                                        <li>
                                            <div class="card">
                                                <div class="C_img"> <img src="~/images/pro_img1.jpg" class="absoImg" alt=""> </div>
                                                <div class="C_desc">
                                                    <h3 class="title">Mexican Pizza</h3>
                                                    <p class="desc">Our standard “Mexican” is loaded</p>
                                                    <div class="price_block">
                                                        <div class="price">$ 10.00</div>
                                                        <a href="#" class="card_btn">Add to cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <ul>
                                        <li>
                                            <div class="card">
                                                <div class="C_img"> <img src="~/images/menu_img7.jpg" class="absoImg" alt=""> </div>
                                                <div class="C_desc">
                                                    <h3 class="title">Broadway</h3>
                                                    <p class="desc">Double Bacon Cheese Burger, Lettuce. </p>
                                                    <div class="price_block">
                                                        <div class="price">$ 9.89</div>
                                                        <a href="#" class="card_btn">Add to cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <ul>
                                        <li>
                                            <div class="card">
                                                <div class="C_img"> <img src="~/images/menu_img9.jpg" class="absoImg" alt=""> </div>
                                                <div class="C_desc">
                                                    <h3 class="title">Garbage Salad</h3>
                                                    <p class="desc">Everything includes, tuscan spring mix </p>
                                                    <div class="price_block">
                                                        <div class="price">$ 4.10</div>
                                                        <a href="#" class="card_btn">
                                                            Add to cart
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <ul>
                                        <li>
                                            <div class="card">
                                                <div class="C_img"> <img src="~/images/menu_img11.jpg" class="absoImg" alt=""> </div>
                                                <div class="C_desc">
                                                    <h3 class="title">Cheese Fries</h3>
                                                    <p class="desc">Our fries are prepared in batches</p>
                                                    <div class="price_block">
                                                        <div class="price">$ 4.79</div>
                                                        <a href="#" class="card_btn">Add to cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <ul>
                                        <li>
                                            <div class="card">
                                                <div class="C_img"> <img src="~/images/menu_img13.jpg" class="absoImg" alt=""> </div>
                                                <div class="C_desc">
                                                    <h3 class="title">Coca-Cola</h3>
                                                    <p class="desc">Coca-Cola is the most popular drink</p>
                                                    <div class="price_block">
                                                        <div class="price">$ 10.00</div>
                                                        <a href="#" class="card_btn">Add to cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <ul>
                                        <li>
                                            <div class="card">
                                                <div class="C_img"> <img src="~/images/menu_img7.jpg" class="absoImg" alt=""> </div>
                                                <div class="C_desc">
                                                    <h3 class="title">Garlic Bread</h3>
                                                    <p class="desc">Butter, olive oil, garlic, crusty bread</p>
                                                    <div class="price_block">
                                                        <div class="price">$ 5.00</div>
                                                        <a href="#" class="card_btn">Add to cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <ul>
                                        <li>
                                            <div class="card">
                                                <div class="C_img"> <img src="~/images/menu_img9.jpg" class="absoImg" alt=""> </div>
                                                <div class="C_desc">
                                                    <h3 class="title">Red Sauce Pasta</h3>
                                                    <p class="desc">Red tomato sauce with mix veggies.</p>
                                                    <div class="price_block">
                                                        <div class="price">$ 8.00</div>
                                                        <a href="#" class="card_btn">Add to cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <ul>
                                        <li>
                                            <div class="card">
                                                <div class="C_img"> <img src="~/images/menu_img11.jpg" class="absoImg" alt=""> </div>
                                                <div class="C_desc">
                                                    <h3 class="title">Schezwan Sandwich</h3>
                                                    <p class="desc">Spicy vegetables and schezwan sauce</p>
                                                    <div class="price_block">
                                                        <div class="price">$ 3.00</div>
                                                        <a href="#" class="card_btn">Add to cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- popular our food start here -->
<!-- client feedback start here -->
<section>
    <div class="client_say">
        <div class="main_client">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="middle_Cpitch">
                            <h2 class="title">Whats Clients Say</h2>
                            <div class="testi_slider">
                                <div>
                                    <p class="desc">
                                        <span class="double_quat"></span>I ordered Pizza for the first time & I’m so glad I did! I Can’t wait till I order again. Thick, tasty,
                                        <br>absolutely delicious Pizza! The gal taking my order was so nice as well. <span class="double_quat2"></span>
                                    </p>
                                    <div class="sign">
                                        <span class="name">Paulette Pettry</span>
                                        <span class="Desig">CEO</span>
                                    </div>
                                </div>
                                <div>
                                    <p class="desc">
                                        <span class="double_quat"></span>Wow I have found a great pizza place. They brought me a great pizza and the guy that delivered
                                        <br> my pizza was a cool dude. Thanks for the great pizza. I recommend to everyone.<span class="double_quat2"></span>
                                    </p>
                                    <div class="sign"> <span class="name">Jhon Walker</span> <span class="Desig">CEO</span> </div>
                                </div>
                                <div>
                                    <p class="desc">
                                        <span class="double_quat"></span>Great pizza. Tastes so fresh and original. Beats any of the chains hands down.
                                        <br> I was so glad to hear Mike’s was opening in Oregon and now it is a wonderful reality.
                                        <br> Give them a try, you won’t be sorry! <span class="double_quat2"></span>
                                    </p>
                                    <div class="sign"> <span class="name">Glenn Cook</span> <span class="Desig">CEO</span> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- client feedback end here -->
<!-- Map Start here -->
<div class="map">
    <iframe src="https://maps.google.com/maps?hl=en&amp;q=new%20maxico%20city+(My%20Business%20Name)&amp;ie=UTF8&amp;t=&amp;z=6&amp;iwloc=B&amp;output=embed"></iframe>
</div>
<!-- Map End here -->