@{
    ViewData["Title"] = "My Cart";
}
<!-- breadcum section -->
<div class="breadcum">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="main_breadcum">
                    <ul>
                        <li><a asp-controller="Home" asp-action="Index" class="trans" title="Home">Home</a></li>
                        <li>Cart</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcum section -->
<!-- Our cart section -->
<section>
    <div class="main_cart">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="main_Ourmenu">
                        <h2 class="title">Cart</h2>
                    </div>
                </div>
                <div class="col-md-12">
                    <div id="itemsCart" class="cart_list">
                        <script>
                            document.write(`<ul class="inner_cartlist">
                                                                        <li class="header">
                                                                            <div class="main_head">
                                                                                <div class="edit">&nbsp;</div>
                                                                                <div class="pro_name">
                                                                                    <h4>Product</h4>
                                                                                </div>
                                                                                <div class="pro_qty">
                                                                                    <h4>Qty</h4>
                                                                                </div>
                                                                                <div class="pro_price">
                                                                                    <h4>Price</h4>
                                                                                </div>
                                                                                <div class="pro_total">
                                                                                    <h4>Total</h4>
                                                                                </div>
                                                                            </div>
                                                                        </li>`);
                            var total = 0;
                            if (localStorage.getItem('cartData') != null) {
                                let cartData = JSON.parse(localStorage.getItem('cartData'));
                                for (var i = 0; i < cartData.length; i++) {
                                    document.write(`<li class="rows">
                                                                                <div class="edit">
                                                                                    <div class="edit_div"><a onclick="deleteItemCart('${cartData[i].id}')" class="trans del" title="Delete"><i class="fa fa-times" aria-hidden="true"></i></a><a href="#" class="trans edit_new" title="Edit"><i class="fa fa-pencil" aria-hidden="true"></i></a></div>
                                                                                </div>
                                                                                <div class="pro_name">
                                                                                    <div class="products">
                                                                                        <div class="pro_img"><img src="${cartData[i].image.replaceAll("pizza", "cart")}" class="absoImg" alt=""></div>
                                                                                        <div class="pro_descr">
                                                                                            <h3 class="pro_title"><a href="#" title="Mexican Pizza" class="trans">${cartData[i].name}</a></h3>
                                                                                            <p class="pro_dtls">${cartData[i].subtitle}</p>
                                                                                            <p class="size"><span class="size">Size :</span>Medium</p>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="pro_qty">
                                                                                    <div class="number-input">
                                                                                        <button onclick="stepup('${cartData[i].id}', '${'quantity' + i}', '${'pro_price' + i}', '${'pro_total' + i}')" class="plus"></button>
                                                                                        <input id="${'quantity' + i}" class="quantity" min="0" name="quantity" value="${cartData[i].count}" type="number">
                                                                                        <button onclick="stepdown('${cartData[i].id}', '${'quantity' + i}', '${'pro_price' + i}', '${'pro_total' + i}')"></button>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="pro_price">
                                                                                    <h4 id="${'pro_price' + i}">$${cartData[i].price}</h4>
                                                                                </div>
                                                                                <div class="pro_total">
                                                                                    <h4 id="${'pro_total' + i}">$${cartData[i].totalPrice}</h4>
                                                                                </div>
                                                                            </li>`);
                                    total += Number(cartData[i].totalPrice);
                                }
                            }
                            document.write(`</ul>
                                                                        <div class="coupan_block">
                                                                            <form method="post" id="couponform">
                                                                                <div class="coupan_code">
                                                                                    <input type="text" name="Coupancode" class="form-control" placeholder="Coupon Code">
                                                                                    <button type="submit" class="coupon-btn send trans hvr-ripple-out" name="coupon">Apply Coupon</button>
                                                                                    <!-- <input type="submit" value="Apply Coupon" class="send trans"> -->
                                                                                </div>
                                                                            </form>
                                                                            <div class="Redio_diltype">
                                                                                <ul>
                                                                                    <li>

                                                                                        <input type="radio" id="Delivery" name="deliver_type" value="male" checked>
                                                                                        <label for="Delivery">Delivery</label>
                                                                                    </li>
                                                                                    <li>
                                                                                        <input type="radio" id="takeaway" name="deliver_type" value="female">
                                                                                        <label for="takeaway">Take Away</label>
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>`);
                        </script>
                        <div class="checkout">
                            <p class="order_dscr">Order with Delivery</p>
                            <p class="order_total" id="order_total"><span>Total :</span> $${total}</p>
                            <div class="btn_checkout">
                                <form asp-controller="Cart" asp-action="Сheckout" method="post">
                                    <input id="check_id" style="display: none;" type="number" name="total" value="40" /><br />
                                    <input type="submit" class="trans red_btn squre-btn hvr-ripple-out" value="Proceed to Checkout" />
                                </form>
                            </div>
                        </div>
                        <script>
                            document.getElementById("order_total").innerHTML = "<span>Total :</span> $" + total;
                            document.getElementById("check_id").value = Number(total);
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Our cart section -->
<!-- Quick Order Section -->
<section>
    <div class="quick_order">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="main_quickorder">
                        <h3 class="title">Call Us for Quick Order</h3>
                        <div class="cntct typewriter-effect"><span class="call_desk"><a href="tel:+01234567890" id="typewriter_num"></a></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Quick Order Section -->
